@media (min-width: 0px) {
    body {
        grid-template-columns: 100%;

        .main {
            .main-btn-container {
                .menu-btn {
                    display: block;
                }
            }
        }

        dialog {
            width: 98vw;
            height: 98vh;

            max-width: none;
            max-height: none;

            div.content {
                padding-top: 0;
                width: 100%;

                span.title {
                    font-size: 1.2em;
                    padding: 0;
                    padding: 1em 0 0 0;
                }

                div.list-container {
                    gap: 0.5em;

                    ul.move-list {
                        li {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }

        .menu {
            position: absolute;
            transform: translateX(-100%);
            width: 100%;
            inset: 0;
            z-index: 2;
            background-color: rgba(245, 245, 245, 0.671);
            backdrop-filter: blur(2em);
            font-size: 0.8em;

            .content {
                padding: 0.5em 0.5em;
                gap: 0.5em;
            }
        }

        .menu.open {
            transform: translateX(0%);
        }
    }
}

@media (min-width:300px) {
    body {
        .menu {
            .content {
                padding: 1.5em 2em;
                gap: 1.5em;
            }
        }
    }
}

@media (min-width: 500px) {
    body {
        .menu {
            .content {
                padding: 1.5em 6em;
            }
        }
    }
}

@media (min-width:700px) {
    body {
        grid-template-columns: 20em auto;
        grid-template-rows: 100vh;

        dialog {
            width: max-content;
            height: max-content;

            max-width: none;
            max-height: none;

            div.content {
                padding-top: 0;
                width: 100%;

                span.title {
                    font-size: 1.2em;
                    padding: 0;
                    padding: 1em 0 0 0;
                }

                div.list-container {
                    gap: 0.5em;

                    ul.move-list {
                        li {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        .menu {
            position: static;
            transform: translateX(0%);
            background-color: whitesmoke;
            font-size: 0.96em;

            .close-btn-container {
                .btn {
                    display: none;
                }
            }

            .content {
                padding: 1.5em;
            }
        }

        .main {
            .main-btn-container {
                .menu-btn {
                    display: none;
                }
            }
        }
    }
}